<div class="relative w-full max-w-md">
  <div class="relative">
    <input
      type="text"
      [placeholder]="'SEARCH.PLACEHOLDER' | transloco"
      [(ngModel)]="searchTerm"
      (input)="handleInputChange($event)"
      (keydown)="handleKeyDown($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      class="w-full bg-transparent border border-muted rounded-md px-3 py-2
           placeholder-white placeholder-opacity-50
           focus:outline-none
           focus:ring-2 focus:ring-primary"
    />
    <button
      *ngIf="selectedOption"
      type="button"
      (click)="clearSelection()"
      class="absolute right-2 top-1/2 transform -translate-y-1/2 text-muted-foreground hover:text-foreground"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-4 w-4"
      >
        <path d="M18 6 6 18"></path>
        <path d="m6 6 12 12"></path>
      </svg>
    </button>
    <div *ngIf="isFocused && filteredOptions.length > 0" class="absolute z-10 mt-1 w-full rounded-md border border-input bg-background shadow-lg">
      <ul class="max-h-56 overflow-auto bg-slate-900 bg-opacity-60 rounded-md custom-scrollbar">
        <li
          *ngFor="let option of filteredOptions; let index = index"
          (click)="handleOptionSelect(option)"
          [class.bg-primary]="index === highlightedIndex"
          [class.text-primary-foreground]="index === highlightedIndex"
          class="cursor-pointer px-4 py-2 transition-colors hover:bg-muted hover:font-bold hover:bg-slate-50 hover:bg-opacity-10"
        >
          {{ option.label[currentLanguage] }}
        </li>
      </ul>
    </div>
  </div>
</div>
